<div class="top-container">
    <div class="top-main">
        <h1 class="top-title">memome</h1>
        <p class="top-subtitle">memomeはフリーかつオープンソースのメモアプリです｡</p>
        <div class="start-memo">
            <%= link_to("メモる", "/posts/new") %>
        </div>
    </div>
</div>